.avatar {
  flex-shrink: 0;
  overflow: hidden;
}

.irregular { border-radius: var(--radius-avatar-irregular); }
.circular { border-radius: 50%; }

.xs {
  width: 16px;
  height: 16px;
}

.sm {
  width: 22px;
  height: 22px;
}

.md {
  width: 28px;
  height: 28px;
}

.lg {
  width: 40px;
  height: 40px;
}

.placeholder {
  display: block;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
